@font-face {
	font-family: "Segoe WP";
	font-display: swap;
	src: url("../fonts/Segoe WP Bold.woff2") format("woff2"), url("../fonts/Segoe WP Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Segoe WP";
	font-display: swap;
	src: url("../fonts/Segoe WP Regular.woff2") format("woff2"), url("../fonts/Segoe WP Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
